[Unit]
Description=MasterNode Service

[Service]
User=root
WorkingDirectory=/root/fault_management
ExecStart=python /VNFM/MasterNode.py

[Install]
WantedBy=multi-user.target